@inherits LayoutComponentBase

<div class="page">
  
    <main>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Scales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chords">Chords</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tablature">Tablature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
        </ul>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
